In [ ]:
# List Exercises
# Create a list of Cities
# Append a new city to the list
# Remove the second city from the list
# Sort the list
# Check the length of the list
# Get city name based on Index

In [2]:
# cities - 'New York', 'London','Delhi','Tokyo'
cities = ["New York", "London", "Delhi", "Tokyo"]
print(cities)

['New York', 'London', 'Delhi', 'Tokyo']

In [3]:
# Append a new city to the list - Paris
cities.append('Paris')
print(cities)

['New York', 'London', 'Delhi', 'Tokyo', 'Paris']

In [4]:
# Remove the second city from the list
cities.pop(1)
print(cities)

['New York', 'Delhi', 'Tokyo', 'Paris']

In [5]:
# Sort the list
cities.sort()
print(cities)

['Delhi', 'New York', 'Paris', 'Tokyo']

In [6]:
cities.sort(reverse = True)
print(cities)

['Tokyo', 'Paris', 'New York', 'Delhi']

In [7]:
# print the 'New York' city from the list
print(cities[2])

New York

In [8]:
# print the 'New York' and Paris city from the list
print(cities[1:3])

['Paris', 'New York']

In [9]:
# print the last value in the list # Delhi
print(cities[-1])

Delhi

In [10]:
# length of the cities, how many values in the list (len)
len(cities)

4

In [ ]:
# dictionary exercises
# create a dictionary represnting keys for book (title,author and publication year)
# change the value of publication year
# Remove the publication year from the dictionary
# check if the author key is present in the dictionary
# print all values in dictionary
# print all keys in the dictinary
# print key:value pair in the dictionary

In [11]:
#title = 'The Great Gatsby', author =  'Scott Fitzgerald', publication_year = 1925
book = {'title':'The Great Gatsby',
        'Author':'Scott Fitzgerald', 
        'publication_year':1925 } 
print(book)

{'title': 'The Great Gatsby', 'Author': 'Scott Fitzgerald', 'publication_year': 1925}

In [12]:
type(book)

dict

In [13]:
# change the value of publication year -1950
book['publication_year'] = '1950'
print(book)

{'title': 'The Great Gatsby', 'Author': 'Scott Fitzgerald', 'publication_year': '1950'}

In [15]:
# Remove the publication year from the dictionary
del(book['publication_year']) 
print(book)

{'title': 'The Great Gatsby', 'Author': 'Scott Fitzgerald'}

In [18]:
# check if the author key is present in the dictionary
'Author' in book

True

In [19]:
# print all values in dictionary
book.values()

dict_values(['The Great Gatsby', 'Scott Fitzgerald'])

In [20]:
# print all keys in dictionary
book.keys()

dict_keys(['title', 'Author'])

In [21]:
# print all keys,values in dictionary
book.items()

dict_items([('title', 'The Great Gatsby'), ('Author', 'Scott Fitzgerald')])

In [ ]:
# Sets
# create a set 
# add new items in the set
# remove the item from the set

In [22]:
#programming_languages - 'Python','Javascript','Java'
programming_languages = {'Python', 'Javascript', 'Java'}
print(programming_languages)

{'Javascript', 'Python', 'Java'}

In [23]:
type(programming_languages)

set

In [24]:
# add a new value C++
programming_languages.add('C++')
print(programming_languages)

{'C++', 'Javascript', 'Python', 'Java'}

In [25]:
# remove Java from set
programming_languages.remove('Java') 
print(programming_languages)

{'C++', 'Javascript', 'Python'}

In [ ]:
# tuple
# crate a tuple of movies
# check if specific movie is in tuple
# concatenate a tuple

In [26]:
#movies -  'Inception','The Shwashank Redemption','The Dark Knight' ()
movies = ('Inception','The Shwashank Redemption','The Dark Knight')
print(movies)

('Inception', 'The Shwashank Redemption', 'The Dark Knight')

In [27]:
type(movies)

tuple

In [28]:
# Inception movies exist in a tuple
'Inception' in movies

True

In [31]:
additional_movies = ('Pulp Fiction','The Matrix')
combined_movies =  movies + additional_movies
print(combined_movies)

('Inception', 'The Shwashank Redemption', 'The Dark Knight', 'Pulp Fiction', 'The Matrix')

In [32]:
# List of order ID’s which are processed 
processed_orders = [1152, 1154, 1155, 1156, 1157, 1160, 1161, 1162, 1166, 1169, 1170, 1172, 1176, 1050, 1178, 1051, 1052, 1054, 1058, 1060, 1061, 1062, 1065, 1066, 1067, 1068, 1069, 1076, 1077, 1080, 1081, 1083, 1091, 1085, 1088, 1089, 1131, 1092, 1094, 1095, 1099, 1102, 1103, 1104, 1106, 1107, 1108, 1109, 1111, 1117, 1119, 1121, 1150, 1128, 1129, 1136, 1137, 1139, 1140, 1141, 1144, 1148, 1124]

# List of order ID’s which are returned
returned_orders = [1153, 1158, 1159, 1163, 1164, 1165, 1167, 1168, 1171, 1173, 1174, 1175, 1177, 1053, 1055, 1056, 1057, 1059, 1063, 1064, 1070, 1071, 1072, 1073, 1074, 1075, 1078, 1079, 1082, 1084, 1086, 1087, 1090, 1093, 1096, 1097, 1098, 1100, 1101, 1105, 1110, 1112, 1113, 1114, 1115, 1116, 1118, 1120, 1122, 1123, 1125, 1126, 1127, 1130, 1132, 1133, 1134, 1135, 1138, 1142, 1143, 1145, 1146, 1147, 1149, 1151]

# Consider the information available in the above two lists and answer the question given below

In [33]:
# Count the total number of orders
# [ Orders include both processed and returned orders]
# hint: combine all orders into one list and then use len function
len(processed_orders)+len(returned_orders)

129

In [34]:
all_order =  processed_orders+returned_orders
len(all_order)

129

In [36]:
#In the total orders, identify the 50th order 
#[ Note: Assume the order ID’s are being generated in a consecutive manner]
# hint: sort and print 50th order
all_order.sort()
all_order[49]

1099

In [37]:
# What is the last processed order ID - sort, last processed order
processed_orders.sort()
processed_orders[-1]

1178

In [38]:
# Identify the first 4 orders which are processed?
processed_orders[:4]

[1050, 1051, 1052, 1054]

In [39]:
shopping_cart = {'apple': 10, 'banana': 12, 'orange': 25}

In [40]:
# total number of items in the shopping cart
total_items = sum(shopping_cart.values())
print(total_items)

47

In [41]:
# discount 10% of the items
discounted_items = total_items * 0.9
print(discounted_items)

42.300000000000004

In [42]:
#Write a program to accept a string value from the user and accept a char value
#from the user and find out the total occurrence of the char value in the string value.
#Note that the count is not case-sensitive
input_string = input('Enter the string')
input_char =  input('Enter the Character')
count_occurence = input_string.count(input_string) + input_char.count(input_char)
print(count_occurence)

Enter the string'Python Programming'
Enter the Character'P'
2