In [ ]:
# Data Structure
# List
# Sets
# Tuples
# Dictionaries

In [1]:
# list are muttable
a = ['apple','banana','apple','pineapple']
print(a)

['apple', 'banana', 'apple', 'pineapple']

In [3]:
print(a[3])

pineapple

In [5]:
print(a[-3])

banana

In [7]:
# range function goes uptil n-1 values on given data structure
print(a[1:4])

['banana', 'apple', 'pineapple']

In [8]:
print(a[:3])

['apple', 'banana', 'apple']

In [11]:
print(a)

['apple', 'banana', 'apple', 'pineapple']

In [14]:
if "kiwi" in a:
    print('Yes, its available in the list a')
else:
    print('Not available')

Not available

In [16]:
# change value at index 2
a[2] = "kiwi"
print(a)

['apple', 'banana', 'kiwi', 'pineapple']

In [17]:
a[1:2] = ['kiwi','banana']
print(a)

['apple', 'kiwi', 'banana', 'kiwi', 'pineapple']

In [19]:
b = ['a','c','d']
b[1:3] = ['e','f']
print(b)

['a', 'e', 'f']

In [21]:
# append
a.append("grapes")
a

['apple', 'kiwi', 'banana', 'kiwi', 'pineapple', 'grapes']

In [22]:
# insert
a.insert(1,'strawberry')
a

['apple', 'strawberry', 'kiwi', 'banana', 'kiwi', 'pineapple', 'grapes']

In [26]:
# extend
a.extend(b)
print(a)

['apple', 'strawberry', 'kiwi', 'banana', 'kiwi', 'pineapple', 'grapes', 'a', 'e', 'f', 'a', 'e', 'f', 'a', 'e', 'f', 'a', 'e', 'f']

In [27]:
# remove
a.remove("kiwi")
a

['apple',
 'strawberry',
 'banana',
 'kiwi',
 'pineapple',
 'grapes',
 'a',
 'e',
 'f',
 'a',
 'e',
 'f',
 'a',
 'e',
 'f',
 'a',
 'e',
 'f']

In [29]:
a.pop(3)
print(a)

['apple', 'strawberry', 'banana', 'grapes', 'a', 'e', 'f', 'a', 'e', 'f', 'a', 'e', 'f', 'a', 'e', 'f']

In [30]:
del a[4]
print(a)

['apple', 'strawberry', 'banana', 'grapes', 'e', 'f', 'a', 'e', 'f', 'a', 'e', 'f', 'a', 'e', 'f']

In [35]:
# sort
a.sort()
print(a)

['a', 'a', 'a', 'apple', 'banana', 'e', 'e', 'e', 'e', 'f', 'f', 'f', 'f', 'grapes', 'strawberry']

In [36]:
b = [100,50,65,82,23]
b.sort()
print(b)

[23, 50, 65, 82, 100]

In [37]:
b.sort(reverse = True)
print(b)

[100, 82, 65, 50, 23]

In [39]:
c = list(b)
print(c)

[100, 82, 65, 50, 23]

In [40]:
d  = a + c
print(d)

['a', 'a', 'a', 'apple', 'banana', 'e', 'e', 'e', 'e', 'f', 'f', 'f', 'f', 'grapes', 'strawberry', 100, 82, 65, 50, 23]

In [43]:
type(d)

list

In [41]:
# Tuples are immutable
a = ('apple','banana','cherry')
print(a)

('apple', 'banana', 'cherry')

In [42]:
type(a)

tuple

In [44]:
a = ('apple',100,True,40,'male')
print(a)

('apple', 100, True, 40, 'male')

In [47]:
print(a[1])

100

In [49]:
type('True')

str

In [50]:
#Sets
a = {'apple','banana','pineapple'}
print(a)

{'pineapple', 'banana', 'apple'}

In [51]:
type(a)

set

In [52]:
a = {'apple','banana','pineapple','apple'}
print(a)

{'pineapple', 'banana', 'apple'}

In [53]:
print(a[1])

TypeError: 'set' object is not subscriptable

In [54]:
for x in a:
    print(a)

{'pineapple', 'banana', 'apple'}
{'pineapple', 'banana', 'apple'}
{'pineapple', 'banana', 'apple'}

In [55]:
a.remove('banana')
print(a)

{'pineapple', 'apple'}

In [ ]:
# dictionaries
# Is used to stor values in key:value pair
# Is a collection which ordered, changeable 
# Do not allow duplicate values

In [63]:
a   = {
    'Empl Name': 'Karan Sharma',
    'Empl Number': 1234,
    'Empl Class': 'Data Science',
    'Empl Marks': 85
}

In [57]:
print(a)

{'Empl Name': 'Karan Sharma', 'Empl Number': 1234, 'Empl Class': 'Data Science', 'Empl Marks': 85}

In [58]:
print(a['Empl Class'])

Data Science

In [59]:
print(a[1])

KeyError: 1

In [60]:
a = '1'
type(a)

str

In [64]:
type(a)

dict

In [65]:
a.keys()

dict_keys(['Empl Name', 'Empl Number', 'Empl Class', 'Empl Marks'])

In [66]:
a.values()

dict_values(['Karan Sharma', 1234, 'Data Science', 85])

In [67]:
a.items()

dict_items([('Empl Name', 'Karan Sharma'), ('Empl Number', 1234), ('Empl Class', 'Data Science'), ('Empl Marks', 85)])

In [68]:
a['Empl Number'] = 5678
print(a)

{'Empl Name': 'Karan Sharma', 'Empl Number': 5678, 'Empl Class': 'Data Science', 'Empl Marks': 85}

In [79]:
'Empl Number' in a

False

In [71]:
a.update({'Empl Number': 1234})

In [72]:
print(a)

{'Empl Name': 'Karan Sharma', 'Empl Number': 1234, 'Empl Class': 'Data Science', 'Empl Marks': 85}

In [73]:
a['Empl Teacher'] = 'Prof Sangeeta'
print(a)

{'Empl Name': 'Karan Sharma', 'Empl Number': 1234, 'Empl Class': 'Data Science', 'Empl Marks': 85, 'Empl Teacher': 'Prof Sangeeta'}

In [74]:
a.pop('Empl Teacher')

'Prof Sangeeta'

In [75]:
print(a)

{'Empl Name': 'Karan Sharma', 'Empl Number': 1234, 'Empl Class': 'Data Science', 'Empl Marks': 85}

In [78]:
a.popitem()
print(a)

TypeError: dict.popitem() takes no arguments (1 given)

In [77]:
del a['Empl Number']
print(a)

{'Empl Name': 'Karan Sharma', 'Empl Class': 'Data Science'}