In [74]:
# if-elif-else
import os
os.getcwd()

'C:\\Users\\91981\\Desktop'

In [5]:
a=200
b=200
if b>a:
    print("b is a greater than a")
elif b==a:
    print("a and b are equal")
else: 
    print("a is greater than b")

a and b are equal

In [9]:
# write a program that takes student scores as an input
# and print their corresponding grades
# Criterias (A: 90-100, B: 80-89, C: 70-79, D:60-69, E: less than equals 59)

score = int(input("enter the score"))
if score >=90 and score <=100:
    print("Grade A")
elif score >=80 and score <=89:
        print("Grade B")
elif score >=70 and score <=79:
        print("Grade C")
elif score >=60 and score <=69:
        print("Grade D")
else:
    print("Grade E")

enter the score74
Grade A

In [11]:
score = int(input("enter the score"))
if score in range(90,101):
    print("Grade A")
elif score in range(80,90):
        print("Grade B")
elif score in range(70,80):
        print("Grade C")
elif score in range(60,70):
        print("Grade D")
else:
    print("Grade E")

enter the score60
Grade D

In [12]:
#marks as an input: mark > 80 : Print Excellent, marks 60 to 80 : Print Good
#marks 40 to 60 "Can do better" marks below 40 "needs improvement!"
score = int(input("enter the score"))
if score >=80: 
    print("Excellent") 
elif score >=60 and score <=80: 
    print("Good") 
elif score >=40 and score <=60: 
    print("Can do better") 
else: 
    print ("Need improvement")

enter the score45
Can do better

In [14]:
marks = int(input ("enter the marks"))
if marks in range (80,100): 
    print ("Excellent") 
elif marks in range (60,80): 
    print ("Good") 
elif marks in range (40,60):
    print ("Can do better") 
else:("need Improvement")

enter the marks45
Can do better

In [21]:
# while - for
# while
a= 1
while a<=10:
    print(a)
    a+=3 # iteration a+=2#

1
4
7
10

In [24]:
# while - continue
a = 4
while a<=15:
    a+=1
    if a==9:
        continue
    print(a)

5
6
7
8
10
11
12
13
14
15
16

In [26]:
# while - break
a = 4
while a<15:
    if a == 10:
       break
    a+=1
    print(a)

5
6
7
8
9
10

In [27]:
# for loop ranges,list, dictionaries
for a in range(1,10):
    print(a)

1
2
3
4
5
6
7
8
9

In [30]:
a = 10
for b in range(1,11):
  product = a*b
  print(product)

10
20
30
40
50
60
70
80
90
100

In [33]:
# for - continue
a = 10
for b in range(1,11):
  product = a*b
  print(product)
  if product == 70:
        break

10
20
30
40
50
60
70

In [39]:
# input from user on a number then iterate through range (1,21) using for loop 
# and divide the number entered with the range
a= int(input("enter the number:"))
for b in range(1,21):
    divide = a/b
    print(divide,end = " ")

enter the number:100
100.0 50.0 33.333333333333336 25.0 20.0 16.666666666666668 14.285714285714286 12.5 11.11111111111111 10.0 9.090909090909092 8.333333333333334 7.6923076923076925 7.142857142857143 6.666666666666667 6.25 5.882352941176471 5.555555555555555 5.2631578947368425 5.0

In [40]:
# iterate through list 
cities = ["Hyderabad","Bengaluru","Mumbai","Delhi"]
for x in cities:
    print(x)

Hyderabad
Bengaluru
Mumbai
Delhi

In [41]:
cities = ["Hyderabad","Bengaluru","Mumbai","Delhi"]
population = [25000, 36000,34000,56000]
for a,b in zip(cities,population):
    print(a,b)

Hyderabad 25000
Bengaluru 36000
Mumbai 34000
Delhi 56000

In [42]:
# given the list of numbers you only need to print numbers that are diviblse by 5
num = [10,23,45,67,100,90,85]
for a in num:
    if a%5==0:
        print(a)

10
45
100
90
85

In [45]:
# given the list of numbers you only need to print square of the numbers 
num = [1,5,3,6]
for a in num:
    print(a**2)

1
4
9
16
25

In [50]:
# user defined functions
def greet(name):
    print(name)

In [52]:
greet("Sachin")

Sachin

In [53]:
max(100,300)

300

In [58]:
def highest_number(x,y):
    if x>y:
        return x
    return y

In [61]:
def square(x):
    return x**2

In [62]:
square(10)

100

In [63]:
def cube(x):
    return x**3

In [64]:
cube(10)

1000

In [67]:
# find highest of 3 numbers
def high(a,b,c):
    if a>b and a>c:
        return a
    elif b>a and b>c:
        return b
    else:
        return c

In [69]:
high(100,300,200)

300

In [ ]:
# find highest of 4 numbers
def high(a,b,c,d):
    if a>b and a>c and a>d:
        return a
    elif b>a and b>c and b>d:
        return b
    elif c>a and c>b and c>d:
        return c
    else:
        return d