In [4]:
print('Hello World!')

Hello World!

Rules for defining a variable
1) A variable name must start with a letter or the underscore character
2) A variable name cannot start with a number
3) A variable name can only contain alpha-numeric characters and underscores (A-z, 0-9, and _ )
4) Variable names are case-sensitive (age, Age and AGE are three different variables)

In [7]:
# write a python program to find the square of 5

In [8]:
num = 5
sq = num*num
print(sq)

25

In [9]:
# write a python program to find the cube of 7

In [12]:
num2=7
cube=num2**3
cube

343

In [13]:
# find the average of two numbers i.e 10 and 20

In [19]:
num1=10
num2=20
avg = (num1+num2)/2
print(avg)

15.0

In [20]:
# find the average of three numbers i.e 10,20 and 30

In [21]:
num1=10
num2=20
num3=30
avg = (num1+num2+num3)/3
print(avg)

20.0

Various DataTypes
-  Int - Positive/ Negative Whole Numbers
-  Float - Decimals
-  Complex Number - Number with a real and imaginary component
-  Boolean - True/False
-  String - A collection of characters
-  List - An ordered series of comma seperated values. Enclosed by square brackets [].
-  Tuple - Ordered sequence of comma seperated values. Enclosed by parenthesis ().
-  Dictionary - Unordered collection of key values pairs. Enclosed by flower braces {}.
-  Sets - Unordered collection of unique items. Also enclosed by flower braces {}.

In [1]:
type(1234) #int

int

In [2]:
type(55.50) #float

float

In [3]:
type(6+4j) #Complex

complex

In [7]:
type('Welcome') #str

str

In [5]:
type ([189,"abc",367,487])#list

list

# Python Operators

-  Arithmetic Operators : Addition(+), Subtraction(-), Multiplication( * ), Division(/), Modulus(%), Exponentiation( ** ) , Floor division (//)
-  Comparison Operators : Equals to (==), Greater than (>), Less than (<), Not equal to (!=), Greater than or equal to (x>=y), Lesser than equal to (x<=y)
-  Logical Operators : AND, OR, NOT

In [8]:
#askakhkshakljl

In [10]:
x = 15
y = 10

#Arithmetic Operators 
print(x/y) #(x-y) / (x * y) / (x%y) / (x ** y) / (x // y)

1.5

In [13]:
#Comparison Operators
print(x<y) #x!=y / x>y / x<y

False

In [16]:
z= 20
#Logical Operators 
print(x>21 or x<25) #(x>21 or x<25) / not(x>21 or x<25)

True

In [30]:
# find the fahrenheit equivalent tremprature for 10 degree celcius

In [31]:
cel=10
fah=(9/5)*cel+32
print(fah)

50.0

In [32]:
# find the simple interest for principal = 1000, rate of interest = 12%(annual)
# and time period 5 years

In [34]:
p =  1000
r = 12
t =5
si = (p*r*t)/100
si

600.0

In [35]:
# find the area of square with side 4

In [36]:
side=4
area=side*side
area

16

In [37]:
# find the dollar equivalent for INR 3458.2 where $1 = INR 82

In [41]:
R =3458.2
D= round(R/82,2)
D

42.17

In [42]:
# write a program to print "Eligible" if age >=18 else "Not Eligible"

In [43]:
age =54
if age >=18:
    print("Eligible")
else:
    print("Not Eligible")

Eligible

In [44]:
# write a program to print "Pass" if marks >=40 otherwise print "Fail"

In [45]:
marks = 54
if marks >=40:
    print("Pass")
else:
    print("Fail")

Pass

In [46]:
# write a program to print largest of 2 numbers from given numbers as 10 and 80

In [48]:
num1=100
num2=80
if num1>num2:
    print(num1)
else:
    print(num2)

100

In [49]:
# write a program to print loan eligibility (Not Eligible if applied amount>2*income)

In [50]:
income =10000
applied_amount=25000
if applied_amount>2*income:
    print("Not Eligible")
else:
    print("Eligible")

Not Eligible

In [51]:
# write a program to check the divisibility of any number by 3

In [52]:
num=23
if num%3==0:
    print("Divisible")
else:
    print("Not Divisible")

Not Divisible